/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(14, 68, 68);
  color: whitesmoke;
}

/* navbar */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  background-color:rgb(29, 87, 87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  height: 80px;

}
.logo{
  margin-top: 10px;
}


.navbar li {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  margin-left: 45px;
  color: rgb(255, 255, 255);
  display: inline-block;


}

/* hero */

.Main{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 9%;
}

.main-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.heading{
  font-family: sans-serif;
}

.heading h1{
  font-size: 35px;
  font-family: sans-serif;
  margin-bottom: 39px;
  letter-spacing: 1.5px;
  color: rgb(79, 172, 119);
}

.btn{
  background-color: rgb(18, 119, 85);
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: azure;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bolder;
}
.btn:hover{
  background-color:rgb(40, 145, 110) ;
}

/* about */

.Main-about{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 9%;

}

.a-heading{
  margin-left: 45%;
  font-size: 30px;
  color: rgb(4, 168, 168);
  font-weight: 800;
  margin-bottom: 25px;
  font-family: sans-serif;
}

.a-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 170%;
  
  
}

.about-content{
  border-width: 5px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

}

/* contact */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.contact-container{
  width: 100%;
  max-width: 45%;
  padding: 30px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  margin-left: 360px;
}

.contact-container h1{
  font-size: 25px;
  text-align: center;
}

form{
  margin-top: 30px;
  
}

.form-group{
  margin-bottom: 15px;
}

.form-group label{
  display: block;
  margin-bottom: 5px;
  color:bisque;
}

.form-group input,
.form-group textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid rebeccapurple;
  border-radius: 4px;
  background-color: lightcyan;
  /* opacity: calc(15%); */
}

.form-group input,
.form-group textarea:focus{
  outline-color: rgb(75, 53, 13);
}

.submit-button{
  text-align: center;
  display: inline-block;
  /* padding: 19px; */
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: teal;
  margin-left: 220px;
  font-weight: bold;
}
.submit-button:hover{
  background-color: rgb(167, 238, 238);
}

/* foter */

.main-foter{
 
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 9%;
  margin-bottom: 10px;


}

.content-foter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: sans-serif;
  gap: 10px;
}


@media (max-width:660px){
  .Main{
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;

  }
  .heading h1{
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    line-height: 40px;
    color: rgb(42, 170, 170);
  }
  .Main-about{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 9%;
  
  }
  .a-heading{
    margin-left: 31%;
    font-size: 30px;
    color: rgb(2, 160, 160);
    font-weight: 800;
    margin-bottom: 15px;
    font-family: sans-serif;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 107%;
    /* padding: 20px 100px; */
    background-color:rgb(29, 87, 87);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
  }
  .navbar li {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    padding-right: 1px;
 
    display: inline-block;
  
  
  }

  .contact-container{
    display: none;
 
  }


}